#wrapper {
    background-color: bisque;
    height: 100vh;
    width: 100%;
}
header {
    background-color: brown;
    border: solid black ;
    display:flex;
    justify-content: space-between;
    height: 8rem;
    align-items: flex-end;
}
nav {
    border:solid black 2px;
}
ul {
    list-style-type: none;
    padding:0;
    display:flex;
    justify-content: center;
    align-items: center;
    
}
a{
    display: block;
    background-color: cadetblue;
    text-decoration: none;
    text-align: center;
    padding: 0.7rem 1.3rem;
}
main {
    background-color: rgba(128, 128, 128, 0.308);
    display: flex;
    justify-content: center;
    align-items: center;
    height:40vh;
    border:black solid 2px;
    margin-left: 6vh; margin-right: 6vh;
    
}
#bb {
    position: relative;
    top:5vh;
    border:black solid 2px;
    background-color: rgba(161, 0, 0, 0.747);
    width:15rem;
    height:4rem;
    text-align:center;
}
#ku {
border: black solid 2px;
margin-top: 10vh; margin-left: 6vh; margin-right: 6vh;
display:flex;
height:10vh;
align-items: center;
justify-content: space-between;
}