#wrapper {
    background-color: rgb(230, 168, 94);
    min-height: 100vh;
    min-width: 100vw;
}
header {
    background-color: brown;
    border: solid black ;
    display:flex;
    justify-content: space-between;
    height: 8rem;
    align-items: flex-end;
}
nav {
    border:solid black 2px;
}
ul {
    list-style: none;
    padding:0;
    display:flex;
}
a{
    background-color: rgb(102, 153, 153);
    text-decoration: none;
    text-align: center;
    padding: 1rem 1.3rem;
}
#logoa {
    background-color: rgba(240, 248, 255, 0);
    padding:0 1rem;
}
#logo {
    width:auto;
    height: 7.5rem;
    
}
#hittaoss {
    background-color: rgba(240, 248, 255, 0);
}
#osspng {
    width:6rem;
    height: 6.5rem;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height:65vh;
    border:black solid 2px;
    margin-left: 6vh; margin-right: 6vh;
    position:relative;
}
#table {
    height:100%;
    width:100%;
}
#bb {
    position: absolute;
    top:30vh;
    border:black solid 2px;
    background-color: brown;
    width:15rem;
    height:4rem;
    text-align:center;
    padding-top:1.1rem;
    font-size: 2rem;
}
#bbb {
    background-color:rgba(0, 139, 139, 0) ;
}
#ku {
    border: black solid 2px;
    margin-top: 10vh; margin-left: 6vh; margin-right: 6vh;
    display:flex;
    height:20vh;
    align-items: center;
    justify-content: space-around;
    background-color: brown;
}
#kp{

    font-size: 1.5rem;
}
#kpa {
    background-color: rgba(165, 42, 42, 0);
}
#ua{

    font-size: 1.5rem;
}

footer {
    border:black 2px solid;
    height:10rem;
    margin-top: 10vh;
    background-color: rgb(102, 153, 153);
}