#wrapper {
    background-color: bisque;
    min-height: 100vh;
    min-width: 100vw;
}
header {
    background-color: brown;
    border: solid black ;
    display:flex;
    justify-content: space-between;
    height: 8rem;
    align-items: flex-end;
}
nav {
    border:solid black 2px;
}
ul {
    list-style: none;
    padding:0;
    display:flex;
}
a{
    background-color: cadetblue;
    text-decoration: none;
    text-align: center;
    padding: 1rem 1.3rem;
}
#logoa {
    padding:0;
    background-color:black;
}
main {
    background-color: rgba(128, 128, 128, 0.308);
    display: flex;
    justify-content: center;
    align-items: center;
    height:40vh;
    border:black solid 2px;
    margin-left: 6vh; margin-right: 6vh;
    
}
#bb {
    position: relative;
    top:5vh;
    border:black solid 2px;
    background-color: rgba(161, 0, 0, 0.747);
    width:15rem;
    height:4rem;
    text-align:center;
    padding-top:1.1rem;
    font-size: 2rem;
}
#bbb {
    background-color:rgba(0, 139, 139, 0) ;
}
#ku {
    border: black solid 2px;
    margin-top: 10vh; margin-left: 6vh; margin-right: 6vh;
    display:flex;
    height:15vh;
    align-items: center;
    justify-content: space-between;
}
#kp{
    border: black solid 2px;
    height:100%;
    width:40%;
    font-size: 1.5rem;
}
#ua{
    border:black solid 2px;
    height:100%;
    width:40%;
    font-size: 1.5rem;
}

footer {
    border:black 2px solid;
    height:8rem;
    margin-top: 10vh
}