body {
    font-family: 'Saira', sans-serif;
}
#wrapper {
    background-color: rgb(255, 201, 134);
    min-height: 100vh;
    min-width: 100vw;

}

header {
    background-color: brown;
    display:flex;
    justify-content: space-between;
    height: 8rem;
    align-items: flex-end;
    
}
ul {
    list-style: none;
    padding:0;
    display:flex;
}
#m {
    border-radius: 1rem 0 0 0;
}
#k {
    border-radius: 0 1rem 0 0;
}

a{
    background-color: cadetblue;
    text-decoration: none;
    text-align: center;
    padding: 1rem 1.3rem;
    color:black;
}
#menyk {
    background-color: rgb(33, 110, 110);
}
.logoa {
    background-color: rgba(240, 248, 255, 0);
    padding:0 1rem;
    grid-area: ft3;
}
.logo {
    width:auto;
    height: 7.5rem;
    
}
#hittaoss {
    background-color: rgba(240, 248, 255, 0);
}
#osspng {
    width:6rem;
    height: 6.5rem;
}
main {
    display: flex;
    align-items: center;
    flex-direction: column;
}
#rubrik {
    font-size: 1.7rem;
}
.fraga {
    background-color: rgb(214, 142, 48);
    padding:1rem;
    font-size: 1.5rem;
}
.svar {
    background-color: rgb(255, 212, 160);
    padding:1rem;
    font-size:1.2rem;
}
footer {
    height:10rem;
    margin-top: 10vh;
    background-color: rgb(102, 153, 153);
    display:grid;
    grid-template-areas: 
    'ft1 ft3'
    'ft2 ft3';
    justify-content: center;
    align-content: center;
    column-gap:45vh;
}
#ft1 {
    grid-area: ft1;
}
#ft2 {
    grid-area: ft2;
    font-size: 0.8rem;
    color:rgb(68, 68, 68);
}